@keyframes pulse1 {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #aaa8;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes pulse2 {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #aaa8;
  }
  100% {
    background-color: transparent;
  }
}
